.dashboard-menu-wrapper {
  padding: 20px;
}
.dashboard-menu-wrapper a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
  color: #000;
}
.dashboard-menu-wrapper a:hover {
  background-color: #d8d7d7;
  padding: 10px;
  border-radius: 10px;
}
