.tag-cloud-wrapper {
  margin-top: 30px;
}
.tag-header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.tag-header p {
  margin-bottom: 30px;
  font-size: 20px;
}
.tags-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.tagName {
  background-color: #c7c5c5b7;
  padding: 4px 8px;
  border-radius: 8px;
}
.collection-title {
  margin: 40px 0;
  font-size: 30px;
}
